@model IEnumerable<Library.Models.Book>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
    @using (Html.BeginForm())
    {
<div class="input-group mb-3">
    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Title" })
    <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="submit" value="Search" />
    </div>
</div>
            }
</p>
    <table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th scope="col">
					@Html.DisplayNameFor(model => model.Author)
				</th>
				<th scope="col">
					@Html.DisplayNameFor(model => model.PublishingHouse)
				</th>
				<th scope="col">
					@Html.DisplayNameFor(model => model.ReleaseDate)
				</th>
				<th></th>
			</tr>
		</thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishingHouse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        <div class="row">
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> | </span>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> | </span>
                            }

                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
