@model IEnumerable<Library.Models.Borrowing>

@{
    ViewData["Title"] = "UsersBorrowing";
}

<h1>Your borrowings</h1>


<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Book)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.ApplicationUser)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.StartDate)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.MaxDate)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.EndDate)
			</th>
			<th scope="col"></th>
		</tr>
	</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
